# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

app/demo-socket-io/node_modules
app/dinh-chat-real-time/node_modules
Socketio-Buoi1/node_modules
Socketio-Buoi2/node_modules
Socketio-Buoi3/node_modules
Socketio-Buoi4/node_modules
Socketio-Buoi5/node_modules