<html>
	<head>
		<title>Demo Socket IO</title>
		<script src="jquery.js"></script>
		<script src="http://localhost:3000/socket.io/socket.io.js"></script>
		<script src="xuly.js"></script>
		
	</head>
	<body>
		<button id="mrA">Click me!</button><br />
		<h2 id="noidung"></h2>
	</body>
</html>